[submodule "spark-corenlp"]
	path = spark-corenlp
	url = https://github.com/lizhizhou/spark-corenlp.git
[submodule "arangodb-spark-connector"]
	path = arangodb-spark-connector
	url = https://github.com/lizhizhou/arangodb-spark-connector.git
[submodule "louvain-modularity"]
	path = louvain-modularity
	url = https://github.com/athinggoingon/louvain-modularity.git
[submodule "InfoFlow"]
	path = InfoFlow
	url = https://github.com/felixfung/InfoFlow.git
[submodule "jieba-analysis"]
	path = jieba-analysis
	url = https://github.com/lizhizhou/jieba-analysis.git
[submodule "dict_build"]
	path = dict_build
	url = https://github.com/sing1ee/dict_build.git
